$color_pallets:(success:#6fb586,warning:#f90,dnager:#ff5600,light:#f4f4f4);
$font-family-base:'serif';
$font-size-base:16px;
$font-weight-base:700;
$line-height-base:1.5;
$body-bg:white !default;
$body-color:#323232 !default;
$dt-font-weight:400;
$link-color:white;
// $link-color:$primary !default;
$link-decoration: none !default;
$link-hover-color:map-get($color-pallets , success)!default;
$link-hover-decoration: null !default;
$table-cell-padding:7px;
$table-bg:$body-bg;
$stretched-link-pseudo-element:           after !default;
$stretched-link-z-index:                  1 !default;
$text-muted:rgb(97, 85, 85);
$cursor-disabled:not-allowed! important;
$font-size:14px;
$font-size-lg:1rem;
$font-size-xl:2rem;
$font-weight-normal:500;
$font-weight-medium:600;
$font-weight-bold:700;
$card-space-x:1.25rem;
$card-space-y:.75rem;
$marigin-right-h:-350px;
$box-color:black;